doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mis datos 
    link(rel="stylesheet", href="/css/app.css")
  body.bg-Fondo.text-center(style="align-items:center")
    main(class="mx-auto container m-10 px-2")

    p #{nombre}

      h1.text-center.text-4xl.my-6.font-extrabold.text-black-500 Mis datos personales

      table(border=1 class="border border-gray-400 rounded-lg mx-auto")
        tr
          td(class="border-b border-gray-400 text-center")
            h1.text-center.text-1xl.my-6.font-extrabold.text-black-500 Mi nombre completo:
            h1.text-center #{nombre}
        tr
          td(class="border-b border-gray-400 text-center")
            h1.text-center.text-1xl.my-6.font-extrabold.text-black-500 Mi fecha de nacimiento:
            h1.text-center #{fechaNacimiento}
        tr
          td(class="border-b border-gray-400 text-center")
            h1.text-center.text-1xl.my-6.font-extrabold.text-black-500 Mi matricula escolar:
            h1.text-center #{matricula}
        tr
          td(class="border-b border-gray-400 text-center")
            h1.text-center.text-1xl.my-6.font-extrabold.text-black-500 Mis datos:
            h1.text-center #{alumno}
