extends ../layout/index 

block content 
    div.py-10.tracking-wide
        h1.text-center.text-4xl.my-10.font-extrabold.text-customYellow Real 
            span.font-normal.text-black Estate 
        h2.text-center.text-3xl.font-extrabold.text-white= page 
        if errors 
            div#message.mt-8.mx-auto.max-w-xl(class="text-center time")
                div.text-center(class="bg-red-500 text-white uppercase font-bold rounded-t px-4 mt-1 max-w-xl") danger
                
                div.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold(class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700  max-w-xl" )
                    each error in errors 
                        p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg
        .mt-8.mx-auto.max-w-xl
            .bg-white.py-8.px-4.shadow-x1.rounded-1g
                form.space-y-5(action="/login" method="POST" noValidate)
                    - const inputStyle = "w-full px-3 py-2 border-0 border-b-2 border-solid border-gray-400";
                    script.
                        document.addEventListener("DOMContentLoaded", function() {
                            const inputFields = document.querySelectorAll("input[type='text'], input[type='email'], input[type='password']");
                            inputFields.forEach(function(input) {
                                input.style.borderBottom = "2px solid #808080"; // Establece el color del borde inferior a gris claro al iniciar la página.

                                input.addEventListener("focus", function() {
                                    this.style.borderBottom = "2px solid #EFDB00"; // Cambia el color del borde inferior a amarillo al hacer clic.
                                    this.style.outline = "none"; // Elimina el resplandor del borde al enfocar.
                                });

                                input.addEventListener("blur", function() {
                                    if (this.value === "") {
                                        this.style.borderBottom = "2px solid #FF0000"; // Cambia el color del borde inferior a rojo si el campo está vacío.
                                    } else {
                                        this.style.borderBottom = "2px solid #6AEF7E"; // Cambia el color del borde inferior a verde si el campo tiene contenido.
                                    }
                                });
                            });
                        });

                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Name: 
                        input#email(class=inputStyle placeholder="user@domain.com" name="email" type="email" value=user && user.email ? user.email: '')
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for= "password") Password:
                        input#password(class=inputStyle placeholder="*******" name="password"  type="password") 
                     
                    input#btn-login.w-full.text-white(class="text-gray-800 font-bold py-3 cursor-pointer bg-customYellow rounded-xl hover:bg-customYellow2 hover:text-white" type="submit" value="Login")

                    div.flex.items-center.justify-between.pt-5
                        a.text-sm.text-gray-800(href="/login/register" class="hover:underline decoration-4 decoration-customYellow ") If you don't have an account, register.
                        a.text-sm.text-gray-800(href="/login/password-recovery" class="hover:underline decoration-4 decoration-customYellow ") Forgot your password? Recover it.
