extends ../layout/index

block content
  body(style="background-color: #026873;")
    div.py-10(style="background-color: #026873;")
      h1.text-center-4xl.my-10.font-extrabold.text-black.text-center.text-5xl(style="color: #BF7F30;") Real
        span.font-normal(style="color: black;") Estate
      h2.text-center.text-3.l.font-extrabold.text-4xl= page

      if errors
        div(class="max-w-md mx-auto md-10")
          each error in errors
            P.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg 

      .mt-8.mx-auto.max-w-xl
        .bg-white.py-8.px-4.shadow
          form.space-y-5(action="register", method="POST", noValidate)
            - const inputStyle = "w-full px-3 py-2 border-0 border-b-2 border-solid border-gray-400" 
            script.
              document.addEventListener("DOMContentLoaded", function() {
                const inputFields = document.querySelectorAll("input[type='text'], input[type='email'], input[type='password']");
                inputFields.forEach(function(input) {
                  input.style.borderBottom = "2px solid #808080"; // Establece el color del borde inferior a gris claro al iniciar la página.

                  input.addEventListener("focus", function() {
                    this.style.borderBottom = "2px solid #EFDB00"; // Cambia el color del borde inferior a amarillo al hacer clic.
                  });

                  input.addEventListener("blur", function() {
                    if (this.value === "") {
                      this.style.borderBottom = "2px solid #FF0000"; // Cambia el color del borde inferior a rojo si el campo está vacío.
                    } else {
                      this.style.borderBottom = "2px solid #6AEF7E"; // Cambia el color del borde inferior a verde si el campo tiene contenido.
                    }
                  });
                });
              });

            div
              label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="name") Name
              input#name(name="name" type="text", class=inputStyle, style="color: black; outline: none;", placeholder="Full Name", value= user && user.name ? user.name : '')
            div
              label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Email
              input#email(name="email" type="email", class=inputStyle, style="color: black; outline: none;", placeholder="user@domain.com")
            div
              label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="password") Password
              input#password(name="password" type="password", class=inputStyle, style="color: black; outline: none;", placeholder="Enter your password")
            div
              label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="confirmPassword") Confirm Password
              input#confirmPassword(name="confirmPassword" type="password", class=inputStyle, style="color: black; outline: none;", placeholder="Confirm your password")
            div.flex.items-center.justify-between
              a.text-gray-500.text-xs(href="/login") Already have an account? Log in
              a.text-gray-500.text-xs(href="/login/recovery") Forgot my Password
            input(type="submit", href="/login", class="w-full bg-green-600 hover:bg-green-700 text-white font-bold py-3 cursor-pointer", style="background-color: #BF8C2C;", value="Register")
